.searchBar {
  border: solid;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0px 5px 5px -2px;
}

.jobListing {
  display: flex;
  border: solid;
  border-radius: 15px;
  margin-top: 5rem;
  padding: 2rem;
}

#jobLogo {
  font-style: italic;
  flex: 80%;
}

.myTags {
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  margin-left: 5rem;
  min-width: 2rem;
  max-height: 5rem;
  text-align: center;
}

.myFavorite {
  flex: 1;
}